

.Header-image {
  margin: 60px 558px;
}

.wdoh-img {
  width: 250px;
  Height: 123.5px;
}

.footer-fixed {
  margin: 733px 585px;
}

.footer {
  font-family: 'Helvetica Neue';

}

.typeInputHere{
  height: 200px;
}
